$theme-color: #FFFF80;

body {
  position: fixed;
  background-color: $theme-color;
}

main {
  position: relative;
  height: 100vh;
  margin: auto;
  aspect-ratio: 4 / 3;
  background-color: white;
  @media (max-aspect-ratio: 4 / 3) {
    width: 100vw;
    height: auto;
  }
}
